body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

nav > ul{
    margin: 0px;
    padding: 0px;
}

nav li{
    list-style-type: none;
}

nav > ul > li{
    float: left;
    position: relative;
}

.submenu{
    display: none;
}

.menu-mobile{
    display: none;
}

nav{
    width: 100%;
    background-color: #454E42;
}

nav > ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

nav > ul > li > a{
    padding: 20px 30px;
    color: #FFF;
}

nav li:hover .submenu{
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0px;
    padding: 0px;
    z-index: 100000;
}

.submenu li{
    border-bottom: 1px solid #CCC;
}

.submenu li a{
    padding: 15px 30px;
    font-size: 13px;
    color: white;
    width: 270px;
}

.menu-html:hover{
    border-top: 5px solid #e44d26;
    background-color: #fbb03b;
}

.menu-css:hover{
    border-top: 5px solid #0070bb;
    background-color: #fbb03b;
}

.menu-js:hover{
    border-top: 5px solid #0070bb;
    background-color: #fbb03b;
}

.menu-contact:hover{
    border-top: 5px solid #0070bb;
    background-color: #fbb03b;
}

nav > ul > li:hover a{
    padding: 15px 30px 20px 30px;
}

.menu-html .submenu{
    background-color: #fbb03b;
}

.menu-css .submenu{
    background-color: #fbb03b;
}

.menu-js .submenu{
    background-color: #fbb03b;
}

.submenu li:hover a{
    color: #EEE;
    font-weight: bold;
}

.menu-html .submenu li:hover{
    background-color: #FFA81E;
}

.menu-css .submenu li:hover{
    background-color: #FFA81E;
}

.menu-js .submenu li:hover{
    background-color: #FFA81E;
}

@media screen and (max-width : 680px){
    .menu-mobile {
        display: block;
        color: #fff;
        background-color: #fbb03b;
        text-align: center;
        padding: 12px 0;
    }

    nav ul{
        display: none;
    }

    nav ul li, nav ul li a {
        width: 100%;
        text-align: center;
    }

    nav ul li a, nav ul li:hover a{
        padding: 10px 0px 10px 0px;
    }

    nav li:hover .submenu{
        display: block;
        position: static;
    }
}