* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.green {
    background-color: #4EA545;
    border-bottom: solid 3px #445A3E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    font-size: 18px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fbb03b;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.nav-links {
    text-decoration: none;
    color: #FFF;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.navbar-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fbb03b;
    font-size: 24px;
}

.active {
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

.intro {
    background-color: #e6e6e6;
    padding: 0;
    margin: 0;
}

.post {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}

#logo {
    height: 20%;
    width: 20%;
}

@font-face {
    font-family: 'lemon milk';
    src: url(fonts/LemonMilk.otf);
    font-weight: normal;
    font-style: normal;
}

.titre {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

@font-face {
    font-family: 'agenda';
    src: url(fonts/AgendaMedium.otf);
    font-weight: normal;
    font-style: normal;
}

#info {
    height: 20px;
    width: 20px;
}

.home .intro {
    background: url(../images/mairie_1.jpg) no-repeat;
    height: calc(100vh - 159px);
    background-size: cover;
}

p {
    font-family: agenda;
}

li {
    font-family: agenda;
}

h2 {
    font-family: Montserrat;
    text-decoration: underline #fbb03b;
    color: #454E42;
    margin: 5px;
    margin-left: 0;
}

.sous {
    font-family: Montserrat;
    color: #454E42;
    text-align: center;
    text-decoration: none;
}

h3 {
    font-family: Montserrat;
    color: #454E42;
    text-align: left;
    text-decoration: underline #fbb03b;
    margin-left: 2px;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #454E42;
}

form div+div {
    margin-top: 1em;
}

label {
    display: inline;
    text-align: left;
}

input, textarea {
    font: 1em agenda;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #fbb03b;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}

.titre_liste {
    font-family: Montserrat;
    color: #4EA545;
}

footer {
    margin: 5px;
}

hr {
    font-family: agenda;
}


.home .intro {
    background: url(../images/mairie_1.jpg) no-repeat;
    height: calc(100vh - 159px);
    background-size: cover;
    display: flex;
}

.maire{
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
}

.orga
{
    display: none;
}

footer{
    background-color: #4EA545;
    margin: 0;
    padding: 0;
    color: white;
}

maps{
    height: 80%;
    width: 80%;
}

table{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

td{
    align-content: center;
}

.photo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 40px;
        align-items: center;
        width: 100%;
        background-color: #fbb03b;
    }
    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
       
    }
    .main-nav li {
        margin: 0;
        display: inline;
    }
    .nav-links {
        font-size: 14px;
    }
    .navbar-toggle {
        display: none;
    }
    .titre {
        height: 70%;
        width: 70%;
        display: flex;
        justify-content: center;
        margin-right: 170px;
        margin-top: 10px;
    }
    #logo {
        width: 8%;
        height: 15%;
    }
    form {
        margin: 0 auto;
        width: 400px;
        padding: 1em;
        border: 1px solid #454E42;
    }
    form div+div {
        margin-top: 1em;
    }
    label {
        display: inline;
        text-align: left;
    }
    input, textarea {
        font: 1em agenda;
        width: 300px;
        box-sizing: border-box;
        border: 1px solid #fbb03b;
    }
    input:focus, textarea:focus {
        border-color: #000;
    }
    textarea {
        vertical-align: top;
        height: 5em;
    }
    .button {
        padding-left: 90px;
    }
    button {
        margin-left: .5em;
    }
    .titre_liste {
        font-family: Montserrat;
        color: #4EA545;
    }
    footer {
        margin: 5px;
    }
    .mairie {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .home .intro {
        background: url(../images/mairie_1.jpg) no-repeat;
        height: calc(100vh - 159px);
        background-size: cover;
    }

    .maire{
        height: 25%;
        width: 25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3px;
        margin-bottom: 3px;
    }

    .orga{
        height: auto;
        width: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    footer{
        background-color: #4EA545;
        margin: 0;
        padding: 0;
        color: white;
        margin-top: 60px;
    }

    maps{
        vertical-align: center;
    }

    
}