* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.green {
    background-color: #4EA545;
    border-bottom: solid 3px #454E42;
}
.navbar {
    font-size: 18 px;
    background-color: #fbb03b;
    padding-bottom: 10px;
}

.main-nav{
    list-style-type: none;
    display: none;
}

.nav-links{
    text-decoration: none;
    color: #FFF;
}

.main-nav li{
    text-align: center;
    margin: 15px auto;
}

.navbar-toggle{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #fbb03b;
    font-size: 24px;
}

.active{
    display: block;
}

body{
    margin: 0;
    padding: 0;
}

.intro{
    background-color: #e6e6e6;
    padding: 0;
    margin: 0;
}

.post {
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}



#logo {
    height: 20%;
    width: 20%;
}

slider{
    display: block;
}

@font-face{
    font-family: 'lemon milk';
    src: url(fonts/LemonMilk.otf);
    font-weight: normal;
    font-style: normal;

}

.titre {
    color: white;
    font-family: 'lemon milk',Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: -70px;
}



@font-face {
    font-family: 'agenda';
    src: url(fonts/AgendaMedium.otf);
    font-weight: normal;
    font-style: normal;
}


#info {
    height: 20px;
    width: 20px;
}


p {
    font-family: agenda;
}

h2 {
    font-family: Montserrat;
    text-decoration: underline #fbb03b;
    color: #454E42;
    margin: 5px;
    margin-left: 0;
}

.sous{
    font-family: Montserrat;
    color: #454E42;
    text-align: center;
    text-decoration: none;

}

h3{
    font-family: Montserrat;
    color: #454E42;
    text-align: left;
    text-decoration: underline #fbb03b;
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 40px;
        align-items: center;
        width: 100%;
    }

    .main-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .main-nav li{
        margin: 0;
        display: inline;
    }

    .nav-links {
        font-size: 14px;
    }

    .navbar-toggle{
        display: none;
    }

    .titre{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        margin-left:50px;
        margin-top: -95px;
    }

    #logo {
        width: 8%;
        height: 15%;
    }

    animation-default {
        opacity: 1 !important;
        z-index: 3;
      }
      
      @mixin carousel($items, $animation: 'default') {
        .carousel {
          width: 100%;
          position: relative;
          overflow: hidden;
      
          > input[type="radio"] {
            position: absolute;
            left: 0;
            opacity: 0;
            top: 0;
      
            &:checked {
              ~ .carousel__items .carousel__item,
              ~ .carousel__prev > label,
              ~ .carousel__next > label {
                opacity: 0;
              }
            }
      
            @for $i from 1 through $items {
              &:nth-child(#{$i}) {
                &:checked {
                  ~ .carousel__items .carousel__item {
                    @if $animation == 'default' {
                      &:nth-child(#{$i}) {
                        opacity: 1;
                      }
                    }
                  }
      
                  ~ .carousel__prev {
                    > label {
                      @if $i == 1 {
                        &:nth-child(#{$items}) {
                          @extend %animation-default;
                        }
                      } @else if $i == $items {
                        &:nth-child(#{$items - 1}) {
                          @extend %animation-default;
                        }
                      } @else {
                        &:nth-child(#{$i - 1}) {
                          @extend %animation-default;
                        }
                      }
                    }
                  }
      
                  ~ .carousel__next {
                    > label {
                      @if $i == $items {
                        &:nth-child(1) {
                          @extend %animation-default;
                        }
                      } @else {
                        &:nth-child(#{$i + 1}) {
                          @extend %animation-default;
                        }
                      }
                    }
                  }
      
                  ~ .carousel__nav {
                    > label {
                      &:nth-child(#{$i}) {
                        background: #ccc;
                        cursor: default;
                        pointer-events: none;
                      }
                    }
                  }
                }
              }
            }
          }
      
          &__items {
            margin: 0;
            padding: 0;
            list-style-type: none;
            width: 100%;
            height: 600px;
            position: relative;
          }
      
          &__item {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            transition: opacity 2s;
            -webkit-transition: opacity 2s;
      
            img {
              width: 100%;
              vertical-align: middle;
            }
          }
      
          &__prev,
          &__next {
            > label {
              border: 1px solid #fff;
              border-radius: 50%;
              cursor: pointer;
              display: block;
              width: 40px;
              height: 40px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              -webkit-transform: translateY(-50%);
              transition: all .3s ease;
              -webkit-transition: all .3s ease;
              opacity: 0;
              z-index: 2;
      
              &:hover,
              &:focus {
                opacity: .5 !important;
              }
      
              &:before,
              &:after {
                content: "";
                position: absolute;
                width: inherit;
                height: inherit;
              }
      
              &:before {
                background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%),
                            linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
                width: 60%;
                height: 60%;
                top: 20%;
              }
            }
          }
      
          &__prev {
            > label {
              left: 2%;
      
              &:before {
                left: 35%;
                top: 20%;
                transform: rotate(135deg);
                -webkit-transform: rotate(135deg);
              }
            }
          }
      
          &__next {
            > label {
              right: 2%;
      
              &:before {
                left: 10%;
                transform: rotate(315deg);
                -webkit-transform: rotate(315deg);
              }
            }
          }
      
          &__nav {
            position: absolute;
            bottom: 3%;
            left: 0;
            text-align: center;
            width: 100%;
            z-index: 3;
      
            > label {
              border: 1px solid #fff;
              display: inline-block;
              border-radius: 50%;
              cursor: pointer;
              margin: 0 .125%;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      
      *,
      *:before,
      *:after {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
      }
      
      body {
        background: #fcfcfc;
        margin: 0;
      }
      
      .container {
        width: 900px;
        min-width: 900px;
        margin: 50px auto;
      }
      
}